
.container{
    margin-top: 100px;
    font-family: 'Satisfy', cursive;
}

.right-side{
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 40%;
    margin-top: 30px;
}
.right-side h2{
    font-size: 30px;
    color: burlywood;
}
.right-side p{
    font-size: 15px;
    color: black;
}
.right-side span{
    font-size: 20px;
    color: white;
    background-color: green;
}

.submit{
    margin-top: 12px;
    color: white;
    background-color: aqua;
    border-radius: 10px;
    
}


.slider {
width: 30%;
height: 5%;


}

